.app {
    display: flex;
    border: 1px solid red;
    flex-direction: row;
    width:200%;
  }
  
  .sideBar {
    width: 200px;
    background-color: white;
margin: 10px 0px 0px 10px ;
    padding: 10px;
    border-radius: 10px;
  
  }
  
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  
  .dashboard {
    padding: 20px;
    /* border: 1px solid rgb(6, 255, 14); */
    margin-left: 2%;
    margin-top: 2%;
    width: 70vw;
    background-color: white;
    border-radius: 20px;
    height: 100vh;
    overflow-y: scroll;
  }
  
  .dashboard table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .dashboard table th, .dashboard table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
.sideButtons{
    padding-bottom: 10px;
    /* font-size: ; */

}
  
  .dashboard table th {
    text-align: left;
  }
  .linkColl{
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
 }


 .icons{
  font-size: 30px;
  transform: translateY(5px);
  color:rgb(73, 67, 67);
 }