.login{
    /* height: 20em; */
    /* width: 80vw; */
    position: absolute;
    top:10%;
    left: 35%;
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: column;
}


input{
    width: 40%;
    margin-top: 10px;
    height: 5vh;
}

form{
    display: flex;
    flex-direction: row;

}
.subBox{
display: flex;
flex-direction: column;
justify-content: left;
}

input{
    width: 80%;
    margin-right: 60px;
}
.buttonCollector{
    position: absolute;
    bottom: -70px;
    right: 40%;
    background-color: white;
    
}
/*
h2{
    color: rgb(86, 83, 248);
}
.checkBox{
    display: flex;
    flex-direction: row;
    color: rgb(119, 115, 115);
    width: 100%;
}
p{
    width: 100vw;
}
.checkBox > input{
    transform: translate(-80px,22px);
}

.formContainer{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}
label{
    font-size: 20px;
    font-weight: 600;
    align-self:flex-start;
    padding-bottom: 15px;
    color: rgb(86, 83, 248);
}
input{
    font-family: 'Lato';
    width: 100%;
    height: 20%;
    border-radius: 5px;
    font-family: "Roboto";
    padding-left: 10px;
    margin-bottom: 10px;
    border: 2px solid #E2E6EE;
    align-self: flex-start;
    color: #E2E6EE;
}
button{
    width: 5em;
    background-color: #E2E6EE;
    border: none;
    height: 3em;
    color: rgb(86, 83, 248);
    font-size: 20px;
    font-weight: 600;
    padding: 5px 0px ;
    border-radius: 10px;
} */