.orderBox{
    padding: 5px;
    /* border: 2px solid rgb(199, 195, 195); */
    border-radius: 10px;
    width: 98%;

}
.table{
    width: 100%;
}
table,th,td{
    border-bottom: 2px solid rgb(210, 210, 210);
    border-collapse: collapse;
    /* border: 2px solid rgb(199, 195, 195); */
    border-radius: 10px;
}
.th{
    width: fit-content;
    padding: 15px;
    border-bottom: 2px solid rgb(199, 195, 195);
}
.td{
    text-overflow: ellipsis;
    padding: 10px 0px ;
    /* display: flex;
    flex-direction: column; */
    overflow-x: hidden;
    text-align: center;
}